/*body{
    width: 80%;
    margin: auto;
    padding:5px;
    min-width: 50px;
  }

header{
    margin-top: 50px;
    z-index: 2;
    
} 
/* style home page image */

main {
      background: #ffff0025;
 }

/* overlay */
.image-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    z-index: 2;
  }

  .overlay {
    position: absolute;
    left: 10%;
    right: 10%;
    top:20%;
    width:auto;
    /*transform: translate(-50%, -50%); */
    /*  padding: 10px 10px; */
    text-align: center;
    margin: auto;
    padding: 5px;
    z-index: 2;
}

span { 
    display: inline;  
    background-color: #012357b6; 
    color: white; 
    padding: 10px;
    z-index: 2;
}


.overlay {font-size: 20px;}

h2{  font-size: 20;}

p{  font-size: 18px;  }

.title{
    font-size: 20px;
    text-align: center;
}


/*Form*/
/*
.container { display: flex;
    z-index: 2;
}


.container p{
    font-size: 10px;
}


.contact-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
    
}
*/
/* form overlay on image*/
/*
.form {
    display: block;
    text-align: left;
    min-height: 10vh;
    position: absolute;
    color: #ffffff;
    width: auto;
    
}


button,.submit {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

footer{
    font-size: 8px;
}*/