body{
    width: 80%;
    margin: auto;
    padding:10px;
  }

header{
    margin-top: 50px;
    z-index: 2;
    
} 
/* style home page image */
main {
    margin-top: 50px;
    background: #f5ebb9;
 }

/* overlay */
.image-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .overlay {
    position:absolute;
    top: 20%; 
    left: 20%;
    right: 20%;
    width:auto;
    /*transform: translate(-50%, -50%); */
    background-color: #ffa600e2; 
    color: #ffffff; 
    /*padding: 10px 10px; */
   text-align: center;
   margin: auto;
}

.overlay {font-size: 22px;}

h2{  font-size: 20;}

p{  font-size: 18px;  }

.title{
    font-size: 20px;
    text-align: center;
}



/*Form*/

.container { display: flex;
    z-index: 2;
}

.contact-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
    
}

/* form overlay on image*/
.form {
    display: block;
    text-align: left;
    min-height: 10vh;
    position: absolute;
    color: #ffffff;
    width: auto;
    
}


button,.submit {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}