/*
body{
  width: 80%;
  margin: auto;
  padding:5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /*    NOT NECESSARY. Conflicts with stylesheet_dropdwn.css
  li a {
   
    width: 60px;
    padding: 8px 16px;
    text-decoration: none;
   
  }
  

 li{
  display: inline;
 }
*/

 /* Change the link color to black on hover */
 /*
li a:hover {
  color: white;
  background-color: black;
}
*/

/*main layout style */
/*
  .container{
    background-color: cornsilk;
    margin: 0 auto;
    padding:0px
    
  }
*/
  /*page header */
  .container_header{
    text-align: center;
    background-color: #ffa500;
    background-color: #2668C7;
    color: white;
    padding:2px;
  }

  /* style page header image */
  .section-1{
    height:400px;
    width: 1512px;
    background-image: url("../images/homeJgp3.jpg");
    background-repeat: no-repeat;
   
  }

/* style home page image */

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  /**/
  /*
  .footer {
    text-align: center;
    background-color: #ffa500;
    color: white;
  }
*/

.boxes {
  display: flex;
  column-gap: 4px;
  padding: 10px 2px 15px 2px;
 
}



#hotel {
  height: 350px;
  width: 33%;
  margin-right: 2px;
  display: inline-block;
  background-color: white;
  padding: 3px;
}

#beach {
  height: 350px;
  width: 33%;
  display: inline-block;
  background-color: white;
  padding: 3px;
}

#tour{
  height: 350px;
  width: 33%;
  display: inline-block;
  background-color: white;
  padding: 3px;
}

.box-4 {
  height: auto;
  width: 50%;
  background-color: white;
  padding: 5px;
}






