ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li a {
   
    width: 60px;
    background-color: #dddddd;
    padding: 8px 16px;
    text-decoration: none;
   
  }

 li{
  display: inline;
 }


 /* Change the link color to black on hover */
li a:hover {
  color: white;
  background-color: black;
}


/*main layout style */
  .container{
    background-color: cornsilk;
    padding: 4px;


  }

  /*page header */
  .container_header{

    background-color: orange;
    color: white;
  }